<header>
    <nav class="navbar navbar-light bg-dark">
        <a href="/" class="navbar-brand"><img src="../../image/logo.png"></img></a>
        <ul class="ul-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/perguntar">Perguntar</a></li>
        </ul>    
    </nav>
</header>